body {
    background-color: rgba(255, 255, 224, 0.29);
}


h3 {
    color: royalblue;
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.column {
    float: left;
    width: 20%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* remove underline from links */
a:link {
    text-decoration: none;
}

p::first-letter {
    font-size: 4.5em;
}

strong::first-line {
    color: cadetblue;
}

p#rotateText {
    transform: rotateX(180deg);
}

.container {
    padding: 0 16px;
}

.about-section {
    padding: 10px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.index-section {
    padding: 5px;
    text-align: left;
    background-color: #474e5d;
    color: white;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

footer {
    text-align: left;
    color: white;
    margin: 613px auto 0 auto;
}
