body {
    background-color: rgba(132, 132, 132, 0.571);
}

h3 {
    color: rgb(30, 80, 229);
    font-family: 'Courier New', Courier, monospace;
    font-style: initial;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.column {
    float: left;
    width: 20%;
}



/* remove underline from links */
a:link {
    text-decoration: none;
}

p::first-letter {
    font-size: 4.5em;
}

strong::first-line {
    color: cadetblue;
}



.container {
    display: flex;
  }
  
  .image-with-text {
    position: relative;
  }
  
  .image-with-text h3,
  .image-with-text .image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: white;
  }
  
  .image-with-text h3 {
    font-size: 18px;
  }
  
  .image-with-text .image-description {
    font-size: 14px;
  }



